
<div class="row">
  <div class="col-sm-12">
    <div class="card mt-5 mb-5">
      <div class="card-header">
        {{ selectedHero.title }}
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-sm-5">
            <img class="card-img-top img-fluid"  style="height: 460px" src="https://image.tmdb.org/t/p/w500/{{selectedHero.poster_path }}" size="100" class="img-fluid" alt="{{selectedHero.title }}">
          </div>
          <div class="col-sm-7">
            <ul class="list-group">
              <li class="list-group-item">
                <strong>Release Date: </strong> {{ selectedHero.release_date | date:'dd-MM-yyyy' }}
              </li>
              <li class="list-group-item">
                <strong>Popularity: </strong> {{ selectedHero.popularity }}
              </li>
              <li class="list-group-item">
                <strong>Summary: </strong> {{ selectedHero.overview }}
              </li>
              <li class="list-group-item">
                <strong>Adult: </strong> {{ selectedHero.adult}}
              </li>
              <li class="list-group-item">
                  <strong>Original Language:  </strong> {{ selectedHero.original_language }}
              
              
            </ul>
          </div>
        </div>
      </div>
    </div><!-- /.card -->
  </div>
</div>

