<div id="header">
  <div id="logo">
    <h1>Upcoming Movies</h1>
  </div>
</div>

<div class="row">
  <div  class="col-sm-4" *ngFor="let upcoming of upcoming_movies; let i = index">
    <div *ngIf="i < 8">
      <div class="card mt-3 mb-3">
        <div class="card-header text-center">
          {{ upcoming.release_date | date:'mediumDate' }}
        </div>
        <div class="card-body">
          <img class="card-img-top img-fluid" src="https://image.tmdb.org/t/p/w500/{{ upcoming.poster_path }}" alt="{{ upcoming.original_title }}" style="height: 460px">
          <p class="text-center">{{ upcoming.original_title }}</p>
          <a routerLink="/movie/{{ upcoming.id }}" href="#" class="btn btn-block btn-info">Movie Details</a>
        </div>
      </div>
    </div>
  </div>
</div>
