<div class="parent">
<div class="left">
<div class="container">
  
    <div id="header">
        <div id="logo">
          <h1>Search Movies</h1>
        </div>
      </div>

  <div class="label">
    <div class="col-sm-12">
      <form>
        <div class="row">
          <div class="col-9">
            <input type="text" class="form-control" placeholder="Search!"
              name="movie"
              [(ngModel)]="movie">
          </div>
          <div class="col-3">
            <button class="button" (click)="searchMovies()">Search</button>
          </div>
        </div>
      </form>
    </div>
  </div>

  <ul class="heroes">
    <li *ngFor="let hero of search_result"
      [class.selected]="hero === selectedHero"
      (click)="onSelect(hero)">
      <span class="badge">{{hero.original_title}}</span> {{hero.name}}
    </li>
  </ul>

  <hr>

  <section id="Upcoming Movies">

    <app-upcoming-movies> </app-upcoming-movies>

  </section>

  <hr>

  <section id="Popular Movies">

    <app-popular-movies> </app-popular-movies>

 </section>

</div>
</div>

<div class="right">

  <div *ngIf="selectedHero">
   <section id="Movie Details">

    <app-movie-details  [selectedHero]='selectedHero'></app-movie-details>

   </section>
</div>
</div>